
%div{:style => "\n  width:200px;\n  text-align:center;\n  border-radius: 50px;\n  background: #BBB;\n  padding: 20px;\n  height: 50px;\n  color: #AAF; \n margin-top:100px;"}
  %h2= link_to('Logout', destroy_user_session_path, method: :delete, id:'logout')

-#
-# <div style="
-#   width:100%;
-#   text-align:center;
-#   border-radius: 25px;
-#   background: gray;
-#   padding: 20px;
-#   height: 150px;
-#   color: blue;
-# ">
-#   <h2><%= link_to('Logout', destroy_user_session_path, method: :delete) %></h2>
-# </div>
